<div class="row">

  <h3>Lista</h3>

  <button class="btn btn-success btn-margin">Novo</button>

  <br>
  <br>
  <div class="table-responsive">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Descrição</th>
          <th>Convênio</th>
          <th class="fit">Ações</th>
        </tr>
      </thead>
      <tbody>
        <!--tr *ngFor="let processo of processos">
          {{processo}}
        </tr-->
        <tr>
          <th scope=row>1</th>
          <td>Mark</td>
          <td>@mdo</td>
          <td>
            <button class="btn btn-primary">Editar</button>
            <button class="btn btn-danger">Excluir</button>
          </td>
        </tr>
        <tr>
          <th scope=row>2</th>
          <td>Jacob</td>
          <td>@fat</td>
          <td>
            <button class="btn btn-primary">Editar</button>
            <button class="btn btn-danger">Excluir</button>
          </td>
        </tr>
        <tr>
          <th scope=row>3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>
            <button class="btn btn-primary">Editar</button>
            <button class="btn btn-danger">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>