<div class="row">

  <h3>Lista</h3>

  <a class="btn btn-success btn-margin" routerLink="novo">Novo</a>

  <br>
  <br>
  <div class="table-responsive">
    <pre>
     {{prcSeletivo | json}}
    </pre>


    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Descrição</th>
          <th>Convênio</th>
          <th class="fit">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let processo of prcSeletivo">
          <th scope="row">{{processo.prcSltCodigo}}</th>
          <td>{{processo.prcSltDescricao}}</td>
          <td>{{processo.prcSltNmrConvenio}}</td>
          <td>
            <button class="btn btn-primary">Editar</button>
            <button class="btn btn-danger">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>