<div class="menu">
  <ul class="nav nav-tabs">
    <li role="presentation">
      <a routerLink="">Lista Inscritos</a>
    </li>    
  </ul>
</div>

<h3>{{formTitle}}</h3>
<form #formulario="ngForm" class="form-horizontal" (ngSubmit)="onSubmit(processo)">

  <div class="form-group" [ngClass]="aplicaCssErro('prcSltDescricao')">
    <div class="col-md-12">
      <label for="prcSltDescricao" class="control-label">Descrição</label>
    </div>
    <div class="col-md-12">
      <input type="text" class="form-control" id="prcSltDescricao" placeholder="Descrição" [(ngModel)]="processo.prcSltDescricao"
        name="prcSltDescricao" required>
    </div>
  </div>


  <div class="form-group" [ngClass]="aplicaCssErro('prcSltNmrConvenio')">
    <div class="col-md-12">
      <label for="prcSltNmrConvenio" class="control-label">Convênio</label>
    </div>
    <div class="col-md-12">
      <input type="text" class="form-control" id="prcSltNmrConvenio" placeholder="Convênio" [(ngModel)]="processo.prcSltNmrConvenio"
        name="prcSltNmrConvenio" required>
    </div>
  </div>

  <div class="form-group" [ngClass]="aplicaCssErro('prcSltNmrCnvEletronico')">
    <div class="col-md-12">
      <label for="prcSltNmrCnvEletronico" class="control-label">Número Convênio Eletrônico</label>
    </div>
    <div class="col-md-12">
      <input type="text" class="form-control" id="prcSltNmrCnvEletronico" placeholder="Número Convênio Eletrônico" [(ngModel)]="processo.prcSltNmrCnvEletronico"
        name="prcSltNmrCnvEletronico" required>
    </div>
  </div>

  <div class="form-group">

    <div class="col-md-3" [ngClass]="aplicaCssErro('prcSltBltDtEmissao')">
      <label for="prcSltBltDtEmissao" class="control-label">Boleto Data Emissão</label>
      <my-date-picker placeholder="Boleto Data Emissão" name="prcSltBltDtEmissao" [options]="datePickerOptions" locale="pt-br"
        id="prcSltBltDtEmissao" [(ngModel)]="processo.prcSltBltDtEmissao" required></my-date-picker>
    </div>

    <div class="col-md-3" [ngClass]="aplicaCssErro('prcSltBltDtVencimento')">
      <label for="prcSltBltDtVencimento" class="control-label">Boleto Data Vencimento</label>
      <my-date-picker placeholder="Boleto Data Vencimento" name="prcSltBltDtVencimento" [options]="datePickerOptions" locale="pt-br"
        id="prcSltBltDtVencimento" [(ngModel)]="processo.prcSltBltDtVencimento" required></my-date-picker>
    </div>

    <div class="col-md-3" [ngClass]="aplicaCssErro('prcSltDtHrTrmReimpressao')">
      <label for="prcSltDtHrTrmReimpressao" class="control-label">Boleto Data Reimpressão</label>
      <my-date-picker placeholder="Boleto Data Vencimento" name="prcSltDtHrTrmReimpressao" [options]="datePickerOptions" locale="pt-br"
        id="prcSltDtHrTrmReimpressao" [(ngModel)]="processo.prcSltDtHrTrmReimpressao" required></my-date-picker>
    </div>

    <div class="col-md-3" [ngClass]="aplicaCssErro('prcSltDtHrTrmInscricao')">
      <label for="prcSltDtHrTrmInscricao" class="control-label">Término Inscrição</label>
      <my-date-picker placeholder="Término Inscrição" name="prcSltDtHrTrmInscricao" [options]="datePickerOptions" locale="pt-br"
        id="prcSltDtHrTrmInscricao" [(ngModel)]="processo.prcSltDtHrTrmInscricao" required></my-date-picker>
    </div>

  </div>

  <div class="form-group" [ngClass]="aplicaCssErro('mncCdgSede')">
    <div class="col-md-12">
      <label for="mncCdgSede" class="control-label">Código Municipio Sede</label>
    </div>
    <div class="col-md-12">
      <input type="text" class="form-control" id="mncCdgSede" placeholder="Código Municipio Sede" [(ngModel)]="processo.mncCdgSede"
        name="mncCdgSede" required>
    </div>
  </div>

  <button class="btn btn-primary">Salvar</button>
  <!--button class="btn btn-danger" (click)="resetar()">Cancelar</button-->
  <button class="btn btn-info" routerLink="/prcSeletivo">Voltar</button>

</form>