.box-escolha a{
    border: 1px solid #157FCC;
    display: block;
    padding: 40px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
}
.box-escolha a:hover{
    text-decoration: none !important;
}